body, html {
  background: #222;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.centered {
  width:100%;
  height:100%;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

canvas {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.status {
  display: none;
}

#stopButton {
  display: none;
}

#nextButton {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('next.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  border: none;
}

#prevButton {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url('previous.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}

input {
  opacity: 0.6;
}

input:hover {
  opacity: 1.0;
}

input:focus {
  border: none;
  outline: 0;
}
